In [1]:
#Sets , Dictonaries , Tuples

#Sets
#It is an unordered collection of data type that is iteratable , mutable and has no duplicate elements
#It is based on Hash tables
# representated by {}
#Does not support indexing

In [2]:
set_var = set()
print(set_var)
type(set_var)

set()

set

In [12]:
avengers = {"Iron Man" , "Spiderman", "Captain America" , "Hulk"}
print(avengers)

{'Hulk', 'Captain America', 'Iron Man', 'Spiderman'}

In [6]:
type(s)

set

In [8]:
s1 = {1,2,3,3,2}   #prints only unique elements
print(s1)

{1, 2, 3}

In [10]:
s[0] #No indexing in sets

TypeError: 'set' object is not subscriptable

In [13]:
#inbuilt functions

avengers.add("Black Widow")

In [14]:
print(avengers)

{'Iron Man', 'Black Widow', 'Spiderman', 'Captain America', 'Hulk'}

In [15]:
set1 = {"Apple", "Banana" , "Mango"}
set2 = {"Apple", "Banana" , "Mango", "Litchi"}

In [16]:
#difference => removes the common elements (But not updated in set 2)

set2.difference(set1)

{'Litchi'}

In [17]:
print(set2)

{'Mango', 'Apple', 'Litchi', 'Banana'}

In [18]:
set2.difference_update(set1)      #=>here the changes are reflected to set 2

In [19]:
print(set2)

{'Litchi'}

In [20]:
set1 = {"Apple", "Banana" , "Mango"}
set2 = {"Apple", "Banana" , "Mango", "Litchi"}

In [21]:
set2.intersection_update(set1)
set2

{'Apple', 'Banana', 'Mango'}

In [ ]:
#Dictonaries
#it contain key value pairs as elements

In [22]:
dic = {}
type(dic)

dict

In [23]:
d = dict()
type(d)

dict

In [24]:
type(dict())

dict

In [25]:
#creating a dictionary

myCars = {"car1":"BMW", "car2":"Audi" , "car3":"Mercedes", "car4":"Range Rover"}

In [26]:
type(myCars)

dict

In [28]:
print(myCars["car1"])

BMW

In [29]:
for x in myCars:
    print(x)

car1
car2
car3
car4

In [30]:
for x in myCars:
    print(myCars[x])

BMW
Audi
Mercedes
Range Rover

In [31]:
for x in myCars.values():
    print(x)

BMW
Audi
Mercedes
Range Rover

In [32]:
#we can check both keys and values
for x in myCars.items():
    print(x)

('car1', 'BMW')
('car2', 'Audi')
('car3', 'Mercedes')
('car4', 'Range Rover')

In [33]:
#apending elements
myCars["car4"] = "Porsche"

In [34]:
myCars

{'car1': 'BMW', 'car2': 'Audi', 'car3': 'Mercedes', 'car4': 'Porsche'}

In [35]:
#update the value

myCars["car2"] = "Jaguar"

In [36]:
myCars

{'car1': 'BMW', 'car2': 'Jaguar', 'car3': 'Mercedes', 'car4': 'Porsche'}

In [38]:
#nested dictionaries

car1_model = {"Mercedes" : 1998}
car2_model = {"BMW" : 2009}
car3_model = {"Audi" : 2018}

car_type = {"car1":car1_model , "car2":car2_model , "car3":car3_model}
print(car_type)

{'car1': {'Mercedes': 1998}, 'car2': {'BMW': 2009}, 'car3': {'Audi': 2018}}

In [39]:
print(car_type["car1"])

{'Mercedes': 1998}

In [40]:
print(car_type["car1"]["Mercedes"])

1998

In [41]:
#Tuples
#not mutable

In [42]:
t = tuple()

In [43]:
type(t)

tuple

In [10]:
i = 2

In [11]:
var = 2

In [12]:
print(var)

2

In [13]:
if (i and var == 2):
    print("Noicee")
elif (i > 5):
    print("Oh yeah")
else:
    print("Fuck")

Noicee

In [14]:
l = [1,2,3,4,5]

In [17]:
for x2 in l:
    print(x2)

1
2
3
4
5

In [22]:
a = 4
b = 7
def add2(a, b):
    return (a+b)

In [25]:
sum = add2(7,7)

In [26]:
print(sum)

14

In [27]:
#lamda functions

In [28]:
findSquare = lambda x : x*x

In [30]:
print(findSquare(9))

81

In [31]:
findSum = lambda a,b : a+b

In [32]:
findSum(4,5)

9