# Diabetes dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## step 1 - data prep

In [2]:
dfx = pd.read_csv("Diabetes_XTrain.csv")
dfy = pd.read_csv("Diabetes_YTrain.csv")

In [4]:
X = dfx.values
Y = dfy.values

In [5]:
print(X.shape)
print(Y.shape)

(576, 8)
(576, 1)

In [6]:
Y = Y.reshape(576,)

In [7]:
Y.shape

(576,)

In [8]:
print(X)

[[  7.    168.     88.    ...  38.2     0.787  40.   ]
 [  8.    110.     76.    ...  27.8     0.237  58.   ]
 [  7.    147.     76.    ...  39.4     0.257  43.   ]
 ...
 [  2.    122.     60.    ...  29.8     0.717  22.   ]
 [  4.    154.     72.    ...  31.3     0.338  37.   ]
 [  1.     88.     78.    ...  32.      0.365  29.   ]]

In [9]:
dfx.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23
5,7,100,0,0,0,30.0,0.484,32
6,4,110,66,0,0,31.9,0.471,29
7,1,111,86,19,0,30.1,0.143,23
8,3,169,74,19,125,29.9,0.268,31
9,1,71,62,0,0,21.8,0.416,26

In [43]:
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y,random_state=True)

In [44]:
print(X_train.shape, Y_train.shape)
print(X_test.shape, Y_test.shape)

(432, 8) (432,)
(144, 8) (144,)

In [45]:
dfy.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

## step 2 - knn algo

In [46]:
#creating the distance fun
#Ecuclidian Distance
def distFun(x1, x2):
    return np.sqrt(sum((x1-x2)**2))

#KNN function
def knn(X, Y, queryPoint, k=5):
    vals = []
    m = X.shape[0]
    for i in range(m):
        d = distFun(queryPoint, X[i])
        vals.append((d, Y[i]))
    
    vals = sorted(vals)
    
    #then find the nearest k points by slicing
    vals = vals[:k]
    vals = np.array(vals)
    
    #print(vals)
    
    #finding the unique values and their count 
    new_vals = np.unique(vals[:,1], return_counts=True)
    #print(new_vals)
    
    #returning the appropriate label acc to max frequencies
    index = new_vals[1].argmax()
    pred = new_vals[0][index]
    
    return pred

## step 3 - making predictions

In [47]:
pred1 = knn(X_train, Y_train, X_test[3])
print(pred1)

0.0

In [48]:
print(Y_test)

[0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 0
 0 1 0 1 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 1 1 0 1 1 0 1 0 0 0 0 0 1 0 1 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 1 1 1 0 0 1 1 0 0 0 1 1 1 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 1 1 1 1 0 1 0 0 1 0 0]

In [49]:
pred2 = knn(X_train, Y_train, X_test[0])
print(pred2)

0.0

In [50]:
print(Y_test[0])

0

In [51]:
pred3 = knn(X_train, Y_train, X_test[7])
print(pred3)

1.0

In [52]:
print(Y_test[7])

1

In [54]:
pred4 = knn(X_train, Y_train, X_test[2])
print(pred4)

1.0

In [55]:
print(Y_test[2])

1

In [59]:
pred5 = knn(X_train, Y_train, X_test[5])
print(pred5)

1.0

In [60]:
print(Y_test[5])

1